body {
    margin: 0;
    border: 0;
    padding: 0;
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
}




.container a {
    color: white;
   
}

html {
    scroll-behavior: smooth;
}

.menunavbar {
position: fixed;
width: 100%;
z-index: 999;
background: none;


}

.navbar-nav a {
    color: white;

} 

#quienessomos {
    background-color: black;
    color: white;
    text-align: center;
}


#quienessomos h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px;

}

#quienessomos hr {
    color: white;
}

#quienessomos .row {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

#quienessomos li {
    color: white;
    background-color: aqua;
    border: 0;
    font-size: xx-small;

}

#quienessomos .card-footer {
    color: white;
    background-color: black;
    text-align: left;
    border: 0;

    

}

#quienessomos .card {
    border: 0;
    background-color: black;
    padding-bottom: 20px;

}

#destacados h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;

}

#destacados {
    text-align: center;
    background-color: black;
}

#destacados .row {
    text-align: center;
    display: inline-flex;
    
    

}

#destacados p {
    color: white;

}

#destacados .card {
    background-color: aqua;
    border: 1;
    border-color: darkgray;
    margin-bottom: 30px;

}

#contacto {
    background-color: black;
    color: white;

}

#contacto h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

#contacto .btn {
    background-color: aqua;

}

footer {
    background-color: aqua;
    padding-top: 30px;
    padding-bottom: 30px;

}

footer h3 {
    text-align: center;
    color: white;
}

footer .row {
    text-align: center;
    justify-content: center;
    
   }

footer span {
text-align: center;

}

footer i {
    color: white;
    margin: 5px;
}

footer .container {
    justify-content: center;
}